<ion-content>
    <h1>Notícia 01</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus eros massa, 
      at scelerisque dui pulvinar vel. Vestibulum convallis condimentum erat, ac ornare 
      quam pretium id. </p>
      <ion-router-link color="warning" href="feed">saba mais...</ion-router-link>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>
        
      </ion-slides>
      
      <h1>Notícia 02</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus eros massa, 
        at scelerisque dui pulvinar vel. Vestibulum convallis condimentum erat, ac ornare 
        quam pretium id. </p>
        
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>
       
      </ion-slides>
      <ion-router-link color="danger" href="feed">saba mais...</ion-router-link>
      <!--<a (link)="Metodo()">continuar...</a>-->



      <h1>Notícia 03</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus eros massa, 
        at scelerisque dui pulvinar vel. Vestibulum convallis condimentum erat, ac ornare 
        quam pretium id. </p>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="assets/images/noticia01.jpg"></ion-img>
        </ion-slide>
  </ion-slides>

</ion-content>
